* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

/* NavBar */
.navbar {
  background-color: hsl(0, 0%, 98%);
}
.btn-request {
  border: 1px solid transparent;
  background-image: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
  border-radius: 12px;
  margin-top: 1em;
  padding: 8px;
}

@media (min-width: 769px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4em;
  }
  #navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btn-request {
    margin-top: 0;
    padding: 6px;
  }
}
/*First Section - Desktop First */
.first-container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 2em 4em 2em 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
h1 {
  font-weight: 700;
  color: hsl(233, 26%, 24%);
}
.sub-title p {
  width: 34vw;
}
/* First Section - Imagens */
.bg-imgs img {
  width: 100%;
}
.bg-frente {
  width: 70%;
  margin-top: -80vh;
  margin-left: 7em;
}
/*Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
